<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   hotCities.plist
   天气助手

   Created by 俞益 on 2017/7/26.
   Copyright (c) 2017年 俞益. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
